@import url('elements.css');
@import url('fonts.css');
body,
html {
  margin: 0;
  padding: 0;
  font-family: "TT Lakes",sans-serif;
}
.burger-menu {
    font-family: "TT Lakes",sans-serif;
    position: relative;
    width: 320px;
    height: 1024px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 18px 24px;
    padding-bottom: 32px;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}
.burger__footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    font-weight: 500;
}
.burger-menu__header {
    display: flex;
    justify-content: space-between;
}
.logo {
    position: absolute;
    margin-left: 60px;
}
.burger-menu__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.burger-menu__item {
    display: flex;
    align-items: center;
    font-weight: 500;
}
.burger-menu__item--active {
    color: #7E7E82;
}
.burger-menu__item--active::before {
    position: absolute;
    content: '';
    left: 0;
    background-image: url("../icons/highlight.svg");
    width: 4px;
    height: 32px;
}
.contact-list {
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.contact-list__item {
    display: flex;
    align-items: center;
    gap: 16px;
}
.burger-menu__langs {
    margin-top: 20px;
}
.langs {
    display: flex;
    align-items: center;
    gap: 16px;
}
.langs__item--active {
    color: #7E7E82;
}
.tele {
    font-weight: 700;
    font-size: 24px;
}